/* blau            #1e395a           */
/* grau            #ededed           */
/* link            rgba(0,0,0,0.8)   */
/* linkhover       rgba(0, 0, 0, 1)  */


/* body allgemein */
html, body {

  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

}

table {

  empty-cells:show;
  border-spacing:0px;
  border:0px;
  width:100%;
  font-size: 1em;

}

td {

  vertical-align:top;
  padding:0px;

}

* {

	color: #4b4b4c;

}





/******************************************************************/
/* Verweise allgemein */
a {

  color: #1e395a;

}

a:link {

  text-decoration:none;


}

a:visited {

  text-decoration:none;


}

a:active {

  text-decoration:none;


}

a:hover {

  text-decoration:underline;


}





/******************************************************************/
/* Genereller Seitenaufbau */
/* DBIS */
div.all {

  min-height:100%;

}

/* Navigation oben (Kopf) */
div.head {

  margin-bottom:3em;

	background-color: #fff;

}

/* Navigation links */
td.left {

  width: 210px;
  padding: 5px;


  font-weight:bold;
  font-size: 0.9em;

}

/* Inhalt */
td.main { }





/******************************************************************/
/* Formatierung von Forumlaren allgemein */
form {

  margin-bottom: 0px;
  margin-top: 0px;


}

input.text {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

  background-color: #fff;
	box-shadow: 0em 0em 0.15em #999;

}

input.box {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	background-color: #fff;
	box-shadow: 0em 0em 0.1.15em #999;

}

input.box:hover, input.box:focus {

	cursor: pointer;
	background-color: #fff;

}

select {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	background-color: #fff;
	box-shadow: 0em 0em 0.15em #999;

}

input:active, input:focus, input:hover {

  box-shadow: 0px 0px 3px rgba(0,0,0,0.6);

}

input[type=submit] {

    color: #fff;
    background-color: #1e395a;

}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {

    color: #fff;
    background-color: #1e395a;

}






/******************************************************************/
/* Navigation des Tabellenkopfes */

.head table {

  padding: 1em 0em 1em 0em;

  background-color: #1e395a;

	z-index: 10;

}

/* Bibliotheksname */
td.dbis_bib_name { }

/* Zelle, die  feste Linkliste angibt */
td.dbis_logo {

  margin:0px;
  padding: 5px;
  width:130px;

}

/* Absatz, der das Logo rechts beinhaltet */
p.head_dbinfo {

  font-weight:normal;
  font-size: 1.2em;
  letter-spacing: 0.8px;
	color: #fff;

  margin: 0px;
  padding: 5px 5px 0px 5px;

}

/* Absatz, der den Bibliotheksnamen beinhaltet */
p.head_bib_name {

  padding: 2px 5px 5px 5px;
  margin: 0px;

	font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.8px;

}

p.head_bib_name a {

  color: #fff;

}

/* DBIS-Logo */
td.head_logo {

  text-align:center;
  padding: 5px;

}

td.head_logo img {

	height: 3em;

}

/* Zelle, die das Logo beinhaltet, wenn DBIS und Bibliotheksnamen nicht erscheinen */
td.head_logo_only {

  text-align:center;
  padding: 5px;

}

/* Formatierung der einzelnen Links (Liste) */
ul.link_list {

	padding: 4em 0em 3em 0em;
    margin: 0;

    text-align: center;

	font-size: 1.3em;

	background: url(https://www.escpeurope.eu/sites/default/files/inline-images/background/Galaxy-pattern-ESCP-Europe-medium-gradient.png) #1e395a;

}

.link_list li {

  padding: 0.8em 0em;
  border-right: 1px solid #fff;
  margin: 0;

  font-size: 0.8em;

  display:inline;

}

.link_list li a {

    width: 100%;
	padding: 0.8em 2em;
	margin: 0;

    text-transform: uppercase;
	color: #fff;

	background-color: transparent;

}

.link_list li a:hover, .link_list li a:focus, .link_list li a:active {

	background-color: rgba(255, 255, 255, 0.3);
	text-decoration: none;

}





/******************************************************************/
/* Linkes Navigationsmenue */

/* außen */
div.left_external {

  padding: 1em;
  border-radius: 2px;
  margin: 1em 0em 2em 0em;

  background-color: #ededed;

}

#search_text, #fast_search {

  display: none;

}

/* Suchfenster */
div.left_external form {

  padding: 0.5em;
  border-radius: 2px;
  margin: 1em 0em 2em 0em;

}

div.left_external form input {

  padding: 0.3em;
  border: none;
  margin: 0;

}

div.left_external form input[type="text"] {

	width: 70%;
  border-radius: 3px 0px 0px 3px;


  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

}

div.left_external form input[type="text"]:active, div.left_external form input[type="text"]:focus, div.left_external form input[type="text"]:hover {

  box-shadow: 0px 0px 3px rgba(0,0,0,0.6);

}

div.left_external form input[type="submit"] {

  border-radius: 0px 3px 3px 0px;
  margin: 0em 0em 0em -0.8em;

  color: #fff;

  background-color: #1e395a;

}

div.left_external form input[type="submit"]:focus, div.left_external form input[type="submit"]:hover {

  opacity: 1;
	cursor: pointer;

}

div.left_search {

  padding: 5px;
  margin: 0px;

}

/* einzelne Zeile */
p.left_line {

  margin: 0.5em;

}

p.left_line a {

  font-weight: normal;
  color: #4b4b4c;

}

#ext_search {

  margin: -0.3em;

  font-weight: normal;
  font-size: 0.8em;
  color: #1e395a !important;

}

p.left_logo {

  text-align: center;
  margin: 0px;

}




/******************************************************************/
/* Auszeichnungen im Hauptfeld */

/* Formate für HTML-Quelltext, der von Administratoren geschrieben wird */
div.user {

  padding: 0px 3px 0px 0px;

}

div.user table {

  padding: 0px;

}

div.user div {

  padding: 0px;

  margin: 0px 0px 3px 0px;

}

div.user p {

  padding: 5px;
  margin:0px;

}

div.user div p, div.user div div {


  padding: 5px;
  margin: 0px;

}

div.user div ol, .main div ul {

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

/* Format fuer die Auflistung der Suchkriterien bei der Suche */
div.search_res {


  margin:0px 3px 3px 0px;

}

div.search_res p, div.search_res ul {

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

div.search_res p {

  margin-left:3px;

}

/* Formatierung der Überschrift im Hauptfeld */
p.headline, p.headline_right {

  padding: 6px 3px 6px 0px;
  margin: 0px;

  font-weight:bold;
  font-size: 1.1em;

}

p.headline {

  float:left;
  margin-right: 20px;
  width:80%;

}

p.headline_right {

  text-align:right;
  vertical-align:top;

}

/* Formatierung von Tabellen im Hauptfeld (umschließendes div - wegen IE) */
.main, div.user {

  clear:left;

}

.main div {

  padding: 0px 3px 3px 0px;
  font-size: 0.9em;

}

/* Ueberschrift */
td.normal_head {

  padding: 5px;

  font-weight:bold;
  font-size: 0.9em;

}

/* rechtsbuendige Ueberschrift */
td.normal_head_right {

  padding: 5px;

  font-weight:bold;
  text-align:right;
  white-space: nowrap;
  font-size: 0.9em;

}

/* Standardformatierung */
.main {

  padding: 0em 2em;

}

.main td {

	border-bottom: 1px solid #1e395a;

}

.main tr:first-child td {

  padding: 3em 0em 1em 0em;

}

.main a {

   font-weight: 600;
   text-transform: uppercase;
   color: #4a4a54;

}

.main a:hover, .main a:focus {

  text-decoration: none;
	color: #1e395a;

}

td.normal_body, td.normal_bottom, td {

  padding: 1em;

  vertical-align:top;

}

/* Standardformatierung rechtsbuendig */
td.normal_body_right {

  padding: 0.3em;

  text-align:right;
  white-space: nowrap;

}





/******************************************************************/
/* Sonstiges */

/* weitere Informationen ... */
span.more_information {

  font-weight:normal;
  padding-left:100px;

}

div.sort_form {



}

/* Bilder */
img {

  border:0px;

}

/* Gruppierungen, wo ein white-space:nowrap notwendig ist */
span.nobr {

  white-space: nowrap;

}

/* Gefoerder durch ... */
p#left_support {

  margin: 2em 0.5em 0.5em 0.5em;
  font-weight:normal;
  color: #1e395a;
  font-weight: bold;
  text-transform: uppercase;

  text-align: left;

}

#left_support_bay img, #left_support_dfg img {

  padding: 16px 10px;
  border-radius: 50%;
  margin: 0.5em 0.5em 2em 0.5em;

  float: left;

  background-color: #1e395a;

}

/* Alphabet */
ul.alphabet {

  padding: 0px;
  margin: 0px;

}

ul.alphabet li {

  display:inline;
  padding:0px 16px 0px 0px;

}

/* Browsing (Bei DB-Typen und Zugangsart) */
div.browse {

  text-align:center;

}

div.browse span {

  padding-left:5px;
  padding-right:5px;

}

/* Bibliotheksauswahl */
select#choose_bib {

  font-size:0.8em;
  letter-spacing:0.1em;
  width:40em;

}










@media(min-width: 1000px) {

  .all table:nth-child(2) {

    padding-left: 15%;
    padding-right: 15%;

  }

  .dbis_bib_name {

    padding-left: 15%;

  }

  .head_logo img {

    padding-right: 15%;

  }

}
