/* bodyshadow1      #ddd                */
/* bodyshadow2      #f9f9f9             */
/* blau             rgb(0, 103, 172)    */
/* schriftblau      #014e81             */



/* body allgemein */
html, body {

  font-family: Arial;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

}

body {

	background-image: linear-gradient(to bottom, #ddd, #f9f9f9, #f9f9f9, #f9f9f9);
	background-repeat: no-repeat;
  background-size: cover;

}

table {

  empty-cells:show;
  border-spacing:0px;
  border:0px;
  width:100%;
  font-size: 1em;

}

td {

  vertical-align:top;
  padding:0px;

}

* {

	color: #000;

}





/******************************************************************/
/* Verweise allgemein */
a {

  color: #014e81;

}

a:link {

  text-decoration:none;


}

a:visited {

  text-decoration:none;


}

a:active {

  text-decoration:none;


}

a:hover {

  text-decoration:underline;


}





/******************************************************************/
/* Genereller Seitenaufbau */
/* DBIS */
div.all {

  min-height:100%;
	margin: auto;
	width: 975px;

	background-color: #fff;

}

/* Navigation oben (Kopf) */
div.head {

  margin-bottom:3em;

}

/* Navigation links */
td.left {

  width: 210px;


  font-weight:bold;
  font-size: 0.9em;

}

/* Inhalt */
td.main { }





/******************************************************************/
/* Formatierung von Forumlaren allgemein */
form {

  margin-bottom: 0px;
  margin-top: 0px;


}

input.text {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	box-shadow: 0em 0em 0.15em #999;

}

input.box {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	background-color: #f5f5f5;
	box-shadow: 0em 0em 0.1.15em #999;

}

input.box:hover, input.box:focus {

	cursor: pointer;
	background-color: #ddd;

}

select {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	background-color: transparent;
	box-shadow: 0em 0em 0.15em #999;

}

input:active, input:focus, input:hover {

  box-shadow: 0px 0px 3px rgba(0,0,0,0.6);

}






/******************************************************************/
/* Navigation des Tabellenkopfes */
.head table {



}

/* Bibliotheksname */
td.dbis_bib_name {

  padding: 0.5em;

}

/* Zelle, die  feste Linkliste angibt */
td.dbis_logo {

  margin:0px;
  padding: 5x;
  width:130px;

}

/* Absatz, der das Logo rechts beinhaltet */
p.head_dbinfo {

  font-weight:normal;
  font-size: 1.2em;
  letter-spacing: 0.8px;

  margin: 0px;
  padding: 5px 5px 0px 5px;

}

/* Absatz, der den Bibliotheksnamen beinhaltet */
p.head_bib_name {

  padding: 2px 5px 5px 5px;
  margin: 0px;

	font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.8px;

}

p.head_bib_name a {

  color: #000

}

/* DBIS-Logo */
td.head_logo {

  text-align:right;
  padding: 5px;

  display: none;

}

td.head_logo img {

	height: 3em;

}

/* Zelle, die das Logo beinhaltet, wenn DBIS und Bibliotheksnamen nicht erscheinen */
td.head_logo_only {

  text-align:center;
  padding: 5px;

}

/* Formatierung der einzelnen Links (Liste) */
ul.link_list {

  padding: 125px 1em 0.5em 1em;
  margin: 0px;

	background: url("https://www.ub.uni-muenchen.de/_assets/kopfbilder/default.jpg") no-repeat;
	background-size: 975px;

	box-shadow: 0em -30px 0em rgba(0, 0, 0, 0.5) inset;

}

.link_list li {

  display:inline;
	padding: 0px 10px;
	border-right: 1px solid #bbb;
	margin: 0;

}

.link_list li a {

	color: #fff;
  font-size: 0.8em;
	font-weight: bold;

}





/******************************************************************/
/* Linkes Navigationsmenue */

/* außen */
div.left_external {

  margin: 1em 0em 2em 0em;

}

#search_text, #fast_search {

  display: none;

}

/* Suchfenster */
div.left_external form {

  padding: 0.5em 0.7em;
  border-radius: 8px;
  margin: 0em 0em 2em 1em;

  background-color: rgb(0, 103, 172);

}

div.left_external form input {

  padding: 0.1em;
	border-radius: 0px;
  margin: 0;

}

div.left_external form input[type="text"] {

	width: 81%;
  margin-bottom: 0.2em;

}

div.left_external form input[type="submit"] {

  padding: 0.1em;
  margin: 0em 0em 0em -1em;

  color: #fff;

  background-color: rgb(255, 181, 0);

}

div.left_external form input[type="submit"]:focus, div.left_external form input[type="submit"]:hover {

	cursor: pointer;

}

div.left_search {

  padding: 1px;
  margin: 0px;

}

div.left_search p.left_line {

  margin: 0;
  border: none;
  padding: 0;
  font-size: 1.2em;

}

div.left_search p.left_line a {

  text-transform: lowercase;

}

/* einzelne Zeile */
p.left_line {

  width: 100%;
  padding: 0.5em 0.5em 0.5em 0em;
  margin: 0;
  border-bottom: 1px solid #ccc;

}

p.left_line a {

  padding-left: 1em;

  text-transform: uppercase;

  font-weight: normal;
  font-size: 0.8em;
  color: #014e81;

}

p.left_line:hover, p.left_line:focus {

  background-color: rgba(0, 103, 172, 0.1);

}

#ext_search {

  font-weight: normal;
  font-size: 0.8em;
  color: #fff !important;

}

p.left_logo {

  text-align: center;
  margin: 0px;

}

a#left_admin {



}

/* Verweise im linken Navigationsmenue und Link der Bibliothek */
a.left:link, .head_bib_name a:link {



}

a.left:visited, .head_bib_name a:visited {



}

a.left:active, .head_bib_name a:active {



}

a.left:hover, .head_bib_name a:hover {



}





/******************************************************************/
/* Auszeichnungen im Hauptfeld */

/* Formate für HTML-Quelltext, der von Administratoren geschrieben wird */
div.user {

  padding: 0px 3px 0px 0px;

}

div.user table {

  padding: 0px;

}

div.user div {

  padding: 0px;

  margin: 0px 0px 3px 0px;

}

div.user p {

  padding: 5px;
  margin:0px;

}

div.user div p, div.user div div {


  padding: 5px;
  margin: 0px;

}

div.user div ol, .main div ul {

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

/* Format fuer die Auflistung der Suchkriterien bei der Suche */
div.search_res {


  margin:0px 3px 3px 0px;

}

div.search_res p, div.search_res ul {

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

div.search_res p {

  margin-left:3px;

}

/* Formatierung der Überschrift im Hauptfeld */
p.headline, p.headline_right {

  padding: 6px 3px 6px 0px;
  margin: 0px;

  font-weight:bold;
  font-size: 1.1em;

}

p.headline {

  float:left;
  margin-right: 20px;
  width:80%;

}

p.headline_right {

  text-align:right;
  vertical-align:top;

}

/* Formatierung von Tabellen im Hauptfeld (umschließendes div - wegen IE) */
.main, div.user {

  clear:left;

}

.main div {

  padding: 0px 3px 3px 0px;
  font-size: 0.9em;

}

/* Ueberschrift */
td.normal_head {

  padding: 5px;

  font-weight:bold;
  border-bottom:solid 1pt #606060;
  font-size: 0.9em;

}

/* rechtsbuendige Ueberschrift */
td.normal_head_right {

  padding: 5px;

  font-weight:bold;
  text-align:right;
  border-bottom: solid 1pt #606060;
  white-space: nowrap;
  font-size: 0.9em;

}

/* Standardformatierung */
.main {

  padding: 0em 2em;

}

.main tr:nth-child(even) {

  background-color: #f5f5f5;

}

.main tr:hover, .main tr:focus {

  background-color: rgba(0, 103, 172, 0.1);

}

.main tr:first-child:hover, .main tr.first-child:focus {

  background-color: transparent;

}

td.normal_body {

  padding: 0.7em;

  vertical-align:top;

}

/* Standardformatierung */
td.normal_body_last {

  padding: 1px 5px 1px 5px;

  vertical-align:top;

}

/* Standardformatierung rechtsbuendig */
td.normal_body_right {

  padding: 0.3em;

  text-align:right;
  white-space: nowrap;

}

/* Fuss einer Tabelle */
td.normal_bottom {

  padding: 5px;


}

/* Standardformatierung fuer kleinere Schriften */
td.small_body {

  padding: 1px 5px 1px 5px;

  border-bottom:solid 1pt #606060;
  font-size: 0.8em;
  vertical-align:middle;

}





/******************************************************************/
/* Sonstiges */

/* weitere Informationen ... */
span.more_information {

  font-weight:normal;
  padding-left:100px;

}

div.sort_form {



}

/* Bilder */
img {

  border:0px;

}

/* Gruppierungen, wo ein white-space:nowrap notwendig ist */
span.nobr {

  white-space: nowrap;

}

/* Gefoerder durch ... */
p#left_support {

  margin: 8em 0.5em 0.5em 1em;
  font-weight:normal;

  text-align: left;

}

#left_support_bay img, #left_support_dfg img {

  padding: 0.5em;
  margin: 0.5em 0.5em 2em 0.5em;

  float: left;

  background-color: rgb(0, 103, 172);

}

#left_support_bay img {

  margin-left: 1em;

}

/* Alphabet */
ul.alphabet {

  padding: 0px;
  margin: 0px;

}

ul.alphabet li {

  display:inline;
  padding:0px 16px 0px 0px;

}

/* Browsing (Bei DB-Typen und Zugangsart) */
div.browse {

  text-align:center;

}

div.browse span {

  padding-left:5px;
  padding-right:5px;

}

span.nobrowse {



}

/* Bibliotheksauswahl */
select#choose_bib {

  font-size:0.8em;
  letter-spacing:0.1em;
  width:40em;

}
