/* blau	    	   #005a9b 			 */
/* grau		       #333 			 */


/* body allgemein */
html, body {

  font-family: Helvetica;
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 0;
  border: 0;

}

body {

	background-color: #fff;

}

table {

  empty-cells:show;
  border-spacing:0px;
  border:0px;
  width:100%;
  font-size: 1em;

}

td {

  vertical-align:top;
  padding:0px;

}

* {

	color: #333;

}





/******************************************************************/
/* Verweise allgemein */
a {

  color: #333;

}

a:link {

  text-decoration:none;


}

a:visited {

  text-decoration:none;


}

a:active {

  text-decoration:none;
	color: #005a9b;


}

a:hover {

  text-decoration:underline;
	color: #005a9b;


}





/******************************************************************/
/* Genereller Seitenaufbau */
/* DBIS */
div.all {

  min-height:100%;

  background-color: #fff;

}

/* Navigation oben (Kopf) */
div.head {

  margin-bottom:3em;

}

/* Navigation links */
td.left {

  width: 210px;
  padding: 5px;


  font-weight:bold;
  font-size: 0.9em;

}

/* Inhalt */
td.main { }





/******************************************************************/
/* Formatierung von Forumlaren allgemein */
form {

  margin-bottom: 0px;
  margin-top: 0px;


}

input.text {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	box-shadow: 0em 0em 0.15em #999;

}

input.box {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	background-color: #f5f5f5;
	box-shadow: 0em 0em 0.1.15em #999;

}

input.box:hover, input.box:focus {

	cursor: pointer;
	background-color: #ddd;

}

select {

	padding: 0.3em;
  border: 1px solid transparent;
	border-radius: 3px;
	margin: 0.2em;

  font-size:1em;

	background-color: transparent;
	box-shadow: 0em 0em 0.15em #999;

}

input:active, input:focus, input:hover {

  box-shadow: 0px 0px 3px rgba(0,0,0,0.6);

}

input[type=submit] {

    padding: 0.5em;
    border-radius: 0px;
    color: #fff;
    background-color: #005a9b;

}

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active  {

    color: #fff;
    background-color: #005a9b;

}






/******************************************************************/
/* Navigation des Tabellenkopfes */
.head table {

	margin-top: 25px;

  text-align: right;

}

/* Bibliotheksname */
td.dbis_bib_name {


}

/* Zelle, die  feste Linkliste angibt */
td.dbis_logo {

  margin:0px;
  padding: 5x;
  width:130px;

}

/* Absatz, der das Logo rechts beinhaltet */
p.head_dbinfo {

  font-weight: bold;

  margin: 0px;
  padding: 5px 5px 0px 5px;

}

/* Absatz, der den Bibliotheksnamen beinhaltet */
p.head_bib_name {

  padding: 2px 5px 5px 5px;
  margin: 0px;

  font-weight: normal;
  font-style: italic;

}

p.head_bib_name a {

  color: #005a9b;

}

/* DBIS-Logo */
td.head_logo {

  text-align:right;
  padding: 5px;

}

td.head_logo img {

	height: 70px;
	width: auto;
	margin: 1em;
	border: solid #fff;

	position: absolute;
	left: 10%;

	background-color: #fff;

}

/* Zelle, die das Logo beinhaltet, wenn DBIS und Bibliotheksnamen nicht erscheinen */
td.head_logo_only {

  text-align:center;
  padding: 0px;

}

/* Formatierung der einzelnen Links (Liste) */
ul.link_list {

  margin-top: 80px;
  padding-left: 0;

}

.link_list li {

  display:inline;

  line-height: 1.6;

}

.link_list li a {

    padding: 0.3em 0.8em;

	font-size: 15px;
	color: #005a9b;

}

.link_list li a:hover, .link_list li a:focus, .link_list li a:active {

    text-decoration: none;

}





/******************************************************************/
/* Linkes Navigationsmenue */

/* außen */
div.left_external {

  padding: 0em 0em 0.5em 0em;
  margin: 0em 0em 2em 0em;

  background-color: #fff;

}

#search_text, #fast_search {

  display: none;

}

/* Suchfenster */
div.left_external form {

  padding: 0.2em;
  border-radius: 2px;
  margin: 0em 0em 2em 0em;

  background-color: #fff;

}

div.left_external form input {

  padding: 0.7em 0.3em;
  border-radius: 0px;
  border: 1px solid #005a9b;
  margin: 0;

  box-shadow: none;

}

div.left_external form input[type="text"] {

	width: 70%;
	border-radius: 0x;

}

div.left_external form input[type="submit"] {

  width: 23%;
  border: 1px solid #005a9b;
  margin: 0em 0em 0em -1em;

  color: #fff;

}

div.left_external form input[type="submit"]:focus, div.left_external form input[type="submit"]:hover {

	cursor: pointer;

}

div.left_search {

  padding: 5px;
  margin: 0px;

}

/* einzelne Zeile */
p.left_line {

  margin: 1.3em 1em;

}

p.left_line a {

  font-family: Arial;
  font-weight: normal;
  font-style: italic;
  color: #005a9b;

}

p.left_line a:hover, p.left_line a:focus, p.left_line a:active {

  text-decoration: none;

}

#ext_search {

  margin: -0.8em;

  text-transform: none;
  font-weight: normal;
  font-size: 0.8em;
  color: #fff !important;

}

p.left_logo {

  text-align: center;
  margin: 0px;

}





/******************************************************************/
/* Auszeichnungen im Hauptfeld */

/* Formate für HTML-Quelltext, der von Administratoren geschrieben wird */
div.user {

  padding: 0px 3px 0px 0px;

}

div.user table {

  padding: 0px;

}

div.user div {

  padding: 0px;

  margin: 0px 0px 3px 0px;

}

div.user p {

  padding: 5px;
  margin:0px;

}

div.user div p, div.user div div {


  padding: 5px;
  margin: 0px;

}

div.user div ol, .main div ul {

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

/* Format fuer die Auflistung der Suchkriterien bei der Suche */
div.search_res {


  margin:0px 3px 3px 0px;

}

div.search_res p, div.search_res ul {

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

div.search_res p {

  margin-left:3px;

}

/* Formatierung der Überschrift im Hauptfeld */
p.headline, p.headline_right {

  padding: 6px 3px 6px 0px;
  margin: 0px;

  font-size: 1.1em;
  font-style: italic;
  color: #005a9b;

}

p.headline {

  float:left;
  margin-right: 20px;
  width:80%;

}

p.headline_right {

  text-align:right;
  vertical-align:top;

}

/* Formatierung von Tabellen im Hauptfeld (umschließendes div - wegen IE) */
.main, div.user {

  clear:left;

}

.main div {

  padding: 0px 3px 3px 0px;
  font-size: 0.9em;

}

/* Ueberschrift */
td.normal_head {

  padding: 5px;

  font-weight:bold;
  border-bottom:solid 1pt #333;
  font-size: 0.9em;

}

/* rechtsbuendige Ueberschrift */
td.normal_head_right {

  padding: 5px;

  font-weight:bold;
  text-align:right;
  border-bottom: solid 1pt #333;
  white-space: nowrap;
  font-size: 0.9em;

}

/* Standardformatierung */
.main {

  padding: 0em 2em;

}

.main tr:nth-child(even) {

  background-color: #f2f2f2;

}

.main tr:first-child:hover td, .main tr.first-child:focus td {

  color:  #333;

}

.main a {

   color: #333;

}

.main a:hover, .main a:focus {

  text-decoration: none;

}

td.normal_body {

  padding: 0.7em;

  vertical-align:top;

}

/* Standardformatierung */
td.normal_body_last {

  padding: 1px 5px 1px 5px;

  vertical-align:top;

}

/* Standardformatierung rechtsbuendig */
td.normal_body_right {

  padding: 0.3em;

  text-align:right;
  white-space: nowrap;

}

/* Fuss einer Tabelle */
td.normal_bottom {

  padding: 5px;


}

/* Standardformatierung fuer kleinere Schriften */
td.small_body {

  padding: 1px 5px 1px 5px;

  border-bottom:solid 1pt #606060;
  font-size: 0.8em;
  vertical-align:middle;

}





/******************************************************************/
/* Sonstiges */

/* weitere Informationen ... */
span.more_information {

  font-weight:normal;
  padding-left:100px;

}

/* Bilder */
img {

  border:0px;

}

/* Gruppierungen, wo ein white-space:nowrap notwendig ist */
span.nobr {

  white-space: nowrap;

}

/* Gefoerder durch ... */
p#left_support {

  text-align: left;
  font-weight:normal;
  text-transform: uppercase;
  color: #fff;

}

#left_support_bay, #left_support_dfg {

  padding: 0.5em;
  margin: 2em 0em 2em 1em;

  float: left;

  background-color: #005a9b;

}

/* Alphabet */
ul.alphabet {

  padding: 0px;
  margin: 0px;

}

ul.alphabet li {

  display:inline;
  padding:0px 16px 0px 0px;

}

/* Browsing (Bei DB-Typen und Zugangsart) */
div.browse {

  text-align:center;

}

div.browse span {

  padding-left:5px;
  padding-right:5px;

}

/* Bibliotheksauswahl */
select#choose_bib {

  font-size:0.8em;
  letter-spacing:0.1em;
  width:40em;

}
